/*** Global ***/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	padding: 0;
}
img{
	border: none;
}

/*** Container ***/
.sr-ctn{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 20px 0 0 0;
	width: 100%;
}
.sr-body{
	background-color: #fafafa;
	padding: 20px;
}

/*** Map ***/
.sr-map{
	border: 1px solid #ccc;
	position: relative;
}
#sr-map{
	height: 600px;
	width: 100%;
}
#sr-map img{
	max-width: none;
}
#sr-map .sr-rep a{
	text-decoration: underline;
}
#sr-map .sr-rep a:hover{
	text-decoration: none;
}

/*** Locator ***/
section#sr-locator{
	border-bottom: 1px #ccc solid;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
}
section#sr-locator h1{
	border-bottom: 1px #ccc solid;
	font-size: 18px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 5px;
}
section#sr-locator .sr-select-menu .sr-select-label{
	display: inline-block;
	font-size: 14px;
	font-style: italic;
	padding: 0 0 0 10px;
}
section#sr-locator .sr-select-menu .sr-select-country{
	display: inline-block;
	margin: 0 0 0 10px;
	width: 200px;
}
section#sr-locator .sr-select-menu .sr-select-location{
	display: inline-block;
	margin: 0 0 0 10px;
	width: 300px;
}
section#sr-locator .sr-select-menu .sr-select-location ul li{
	background-image: none;
}

/*** Rep Info ***/
section#sr-reps-info{
	border-top: 1px #ccc solid;
	max-height: 300px;
	overflow: scroll;
	margin: 10px 0;
	padding: 30px 0 0 0;
	position: relative;
	vertical-align: top;
}
section#sr-reps-info h2{
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 7px;
	left: 15px;
}
section#sr-reps-info .sr-rep{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 21px;
	margin: 0 1% 10px 1%;
	padding: 20px;
	text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
	width: 31.333%;
}
section#sr-reps-info .sr-rep:hover{
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
section#sr-reps-info .sr-rep a{
	text-decoration: underline;
}
section#sr-reps-info .sr-rep a:hover{
	text-decoration: none;
}

/***** Admin *****
*************************/

/*** Global ***/
#sr-admin input{
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #000;
	height: 20px;
	margin: 0 15px 0 0;
	padding: 0 5px;
}
#sr-admin button{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ccc;
	color: #000;
	cursor: pointer;
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	padding: 0 3px;
	text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
	text-transform: uppercase;
}

/*** Navigation ***/
#sr-admin{
	margin: 0 auto;
	width: 960px;
}
#sr-admin nav{
	padding: 0 0 5px 0;
}
#sr-admin nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#sr-admin nav li{
	display: inline-block;
}
#sr-admin nav a{
	background-color: #f6f6f6;
	color: #aaa;
	display: inline-block;
	font-size: 16px;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
}
#sr-admin nav a:hover{
	color: #666;
}
#sr-admin nav a.active{
	background-color: #fafafa;
	color: #333;
}

/*** Main Section ***/
#sr-admin > section #sr-loading{
	background: #fafafa url(../img/ajax-tab-loader.gif) center center no-repeat;
	margin: 0 0 5px 0;
	min-height: 200px;
}

/*** Geolocator ***/
#sr-admin #sr-geo{
	background: #fafafa url(../img/geolocator.png) 20px 12px no-repeat;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	margin: 0 0 5px 0;
	min-height: 80px;
	padding: 7px 30px 5px 70px;
	width: 100%;
}
#sr-admin #sr-geo div{
	margin: 5px 0;
}
#sr-admin #sr-geo input, #sr-geo label{
	display: inline-block;
	margin: 3px 0 0 0;
}
#sr-admin #sr-geo label{
	font-size: 14px;
	line-height: 20px;
	padding: 0 5px 0 10px;
	text-align: right;
	white-space: nowrap;
}
#sr-admin #sr-geo button{
	float: right;
	height: 30px;
	line-height: 26px;
	margin: 13px 0 0 0;
	width: 9%;
}
#sr-admin #sr-geo label.sr-address,
#sr-admin #sr-geo label.sr-city{
	width: 100px;
}
#sr-admin #sr-geo input#sr-address{
	width: 628px;
}
#sr-admin #sr-geo input#sr-city{
	width: 100px
}
#sr-admin #sr-geo input#sr-state{
	width: 80px;
}
#sr-admin #sr-geo input#sr-zip{
	width: 80px;
}
#sr-admin #sr-geo input#sr-country{
	width: 117px;
}

/** Edit Box **/
#sr-admin .sr-edit-info{
	background: rgba(245, 245, 245, 0.95);
	border-bottom: 1px solid #ccc;
	display: none;
	min-height: 230px;
	padding: 10px 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}
#sr-admin .sr-edit-info .sr-rep-info{
	display: table;
	width: 100%;
}
#sr-admin .sr-edit-info .sr-rep-info > div{
	display: table-cell;
	width: 50%;
}
#sr-admin .sr-edit-info .sr-rep-info label{
	color: #000;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	padding: 0 15px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 20%;
}
#sr-admin .sr-edit-info .sr-rep-info input[type="textfield"]{
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #000;
	display: inline-block;
	height: 20px;
	margin: 4px 0 4px 0;
	padding: 0 5px;
	width: 75%;
}
#sr-admin .sr-edit-info .sr-rep-groups{
	padding: 2px 0 0 0;
}
#sr-admin .sr-edit-info .sr-rep-groups label{
	color: #000;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	margin: 4px 3px 4px 0;
	padding: 0 15px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 20%;
}
#sr-admin .sr-edit-info .sr-rep-groups select{
	text-align: left;
}
#sr-admin .sr-edit-info .sr-rep-groups .chosen-container-multi .chosen-choices{
	border: 1px solid #ccc;
	background: #ddd;
}
#sr-admin .sr-edit-info .sr-rep-tags{
	padding: 2px 0 0 0;
}
#sr-admin .sr-edit-info .sr-rep-tags label{
	color: #000;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	margin: 4px 3px 4px 0;
	padding: 0 15px 0 0;
	text-align: right;
	white-space: nowrap;
	width: 20%;
}
#sr-admin .sr-edit-info .sr-rep-tags select{
	text-align: left;
}
#sr-admin .sr-edit-info .sr-rep-tags .chosen-container-multi .chosen-choices{
	border: 1px solid #ccc;
	background: #ddd;
}
#sr-admin .sr-edit-info .sr-btns{
	clear: both;
	padding: 12px 10px 0 0;
	text-align: right;
}
#sr-admin .sr-edit-info button{
	padding: 4px 8px;
}
#sr-admin .sr-loading{
	display: none;
	position: absolute;
	bottom: 10px;
	left: 50px;
}

/** Message Window **/
#sr-admin .sr-msg{
	background: rgba(245, 245, 245, 0.95);
	border-top: 1px solid #ccc;
	color: #D00;
	display: none;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	height: 41px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 9999;
}

/*** Groups ***/
#sr-groups section#sr-create{
	background: #fafafa url(../img/groups.png) 20px center no-repeat;
	margin: 0 0 5px 0;
	padding: 15px 0 15px 110px;
}
#sr-groups section#sr-create form{
	position: relative;
	text-align: center;
}
#sr-groups section#sr-create form label{
	font-size: 14px;
	padding: 0 5px 0 0;
}
#sr-groups section#sr-create form label:nth-child(3){
	font-size: 12px;
	font-style: italic;
}
#sr-groups section#sr-create form input[type="text"]{
	width: 400px;
}
#sr-groups section#sr-create form input[type="checkbox"]{
	margin: 0 50px 0 0;
	position: relative;
	top: 5px;
}
#sr-groups section#sr-create form button{
	padding: 7px 20px;
}
#sr-groups div#sr-errors{
	background: #fafafa;
	color: #f00;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 10px 0;
	text-align: center;
}
#sr-groups div#sr-errors p{
	margin: 0;
	padding: 5px 0;
}
#sr-groups section#sr-manage{
	background: #fafafa;
	padding: 10px;
}
#sr-groups section#sr-manage > p{
	color: #999;
	margin: 0;
	padding: 50px 0;
	text-align: center;
}
#sr-groups section#sr-manage table{
	margin: 0;
	padding: 0;
	width: 100%;
}
#sr-groups section#sr-manage table tr.sr-group{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 47%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px 0;
	padding: 5px 20px;
}
#sr-groups section#sr-manage table tr{
	display: table;
	width: 100%;
}
#sr-groups section#sr-manage table tr th{
	font-size: 12px;
	padding: 10px 50px;
}
#sr-groups section#sr-manage table tr th:nth-child(1){
	text-align: left;
}
#sr-groups section#sr-manage table tr th:nth-child(2){
	text-align: right;
}
#sr-groups section#sr-manage table tr td{
	color: #333;
	font-size: 14px;
}
#sr-groups section#sr-manage table tr td img{
	cursor: pointer;
	margin: 3px 0 0 0;
}
#sr-groups section#sr-manage table tr td:nth-child(1){
	padding: 0 0 0 30px;
	width: 65%;
}
#sr-groups section#sr-manage table tr td:nth-child(2){
	font-size: 12px;
	font-style: italic;
	width: 10%;
}
#sr-groups section#sr-manage table tr td:nth-child(2) label{
	float: left;
	margin: 8px 10px 0 0;
}
#sr-groups section#sr-manage table tr td:nth-child(2) input{
	margin: 5px 0 0 0;
}
#sr-groups section#sr-manage table tr td:nth-child(3){
	color: #8ac149;
	font-size: 12px;
	text-align: right;
	width: 10%;
}
#sr-groups section#sr-manage table tr td:nth-child(3) span{
	float: left;
	margin: 10px 0 0 20px;
}
#sr-groups section#sr-manage table tr td:nth-child(3) img{
	margin: 4px 0 0 0;
}
#sr-groups section#sr-manage table tr td:nth-child(4){
	text-align: right;
	width: 10%;
}
#sr-groups section#sr-manage table tr td:nth-child(1) span{
	float: left;
}
#sr-groups section#sr-manage table tr td:nth-child(1) img{
	margin: 0 0 0 10px;
	width: 10px;
}
#sr-groups section#sr-manage table tr td:nth-child(1) input{
	background-color: #efefef;
	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}
#sr-groups section#sr-manage table tr.sr-group td:nth-child(4) img{
	margin: 4px 0 0 0;
}
#sr-groups #sr-loading{
	background-color: #fafafa;
	margin: 0 0 5px 0;
	padding: 20px 0;
	text-align: center;
}

/*** Tags ***/
#sr-tags section#sr-create{
	background: #fafafa url(../img/tags.png) 20px center no-repeat;
	margin: 0 0 5px 0;
	padding: 15px 0 15px 110px;
}
#sr-tags section#sr-create form{
	position: relative;
	text-align: center;
}
#sr-tags section#sr-create form label{
	font-size: 14px;
	padding: 0 5px 0 0;
}
#sr-tags section#sr-create form label:nth-child(3){
	font-size: 12px;
	font-style: italic;
}
#sr-tags section#sr-create form input[type="text"]{
	width: 400px;
}
#sr-tags section#sr-create form input[type="checkbox"]{
	margin: 0 50px 0 0;
	position: relative;
	top: 5px;
}
#sr-tags section#sr-create form button{
	padding: 7px 20px;
}
#sr-tags div#sr-errors{
	background: #fafafa;
	color: #f00;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 10px 0;
	text-align: center;
}
#sr-tags div#sr-errors p{
	margin: 0;
	padding: 5px 0;
}
#sr-tags section#sr-manage{
	background: #fafafa;
	padding: 10px;
}
#sr-tags section#sr-manage > p{
	color: #999;
	margin: 0;
	padding: 50px 0;
	text-align: center;
}
#sr-tags section#sr-manage table{
	margin: 0;
	padding: 0;
	width: 100%;
}
#sr-tags section#sr-manage table tr.sr-tag{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 47%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#fafafa), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 47%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px 0;
	padding: 5px 20px;
}
#sr-tags section#sr-manage table tr{
	display: table;
	width: 100%;
}
#sr-tags section#sr-manage table tr th{
	font-size: 12px;
	padding: 10px 50px;
}
#sr-tags section#sr-manage table tr th:nth-child(1){
	text-align: left;
}
#sr-tags section#sr-manage table tr th:nth-child(2){
	text-align: right;
}
#sr-tags section#sr-manage table tr td{
	color: #333;
	font-size: 14px;
}
#sr-tags section#sr-manage table tr td img{
	cursor: pointer;
	margin: 3px 0 0 0;
}
#sr-tags section#sr-manage table tr td:nth-child(1){
	padding: 0 0 0 30px;
	width: 65%;
}
#sr-tags section#sr-manage table tr td:nth-child(2){
	font-size: 12px;
	font-style: italic;
	width: 10%;
}
#sr-tags section#sr-manage table tr td:nth-child(2) label{
	float: left;
	margin: 8px 10px 0 0;
}
#sr-tags section#sr-manage table tr td:nth-child(2) input{
	margin: 5px 0 0 0;
}
#sr-tags section#sr-manage table tr td:nth-child(3){
	color: #8ac149;
	font-size: 12px;
	text-align: right;
	width: 10%;
}
#sr-tags section#sr-manage table tr td:nth-child(3) span{
	float: left;
	margin: 10px 0 0 20px;
}
#sr-tags section#sr-manage table tr td:nth-child(3) img{
	margin: 4px 0 0 0;
}
#sr-tags section#sr-manage table tr td:nth-child(4){
	text-align: right;
	width: 10%;
}
#sr-tags section#sr-manage table tr td:nth-child(1) span{
	float: left;
}
#sr-tags section#sr-manage table tr td:nth-child(1) img{
	margin: 0 0 0 10px;
	width: 10px;
}
#sr-tags section#sr-manage table tr td:nth-child(1) input{
	background-color: #efefef;
	-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}
#sr-tags section#sr-manage table tr.sr-tag td:nth-child(4) img{
	margin: 4px 0 0 0;
}
#sr-tags #sr-loading{
	background-color: #fafafa;
	margin: 0 0 5px 0;
	padding: 20px 0;
	text-align: center;
}


/*** Options ***/

/*** Login Form ***/
article#sr-login{
	background-color: #fafafa;
	border-radius: 10px;
	margin: 100px auto;
	padding: 50px 10px 30px 10px;
	width: 400px;
}
article#sr-login section#sr-form .sr-error p{
	color: #c00;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	text-align: center;
}
article#sr-login section#sr-form p{
	font-weight: bold;
	margin: 0 0 10px 0;
	text-align: center;
}
article#sr-login section#sr-form form{
	margin: 20px 0 0 0;
	overflow: hidden;
}
article#sr-login section#sr-form div{
	margin: 10px 0;
	padding: 0 50px;
	width: 100%;
}
article#sr-login section#sr-form div label{
	display: inline-block;
	font-size: 12px;
	text-align: right;
	width: 25%;
}
article#sr-login section#sr-form div input{
	display: inline-block;
	width: 65%;
}
article#sr-login section#sr-form button{
	display: block;
	float: right;
	font-size: 14px;
	margin: 20px 40px 0 0;
	padding: 8px 15px;
}

@media screen and (max-width: 640px) {

	/*** Locator ***/
	section#sr-locator h1{
		border-bottom: 1px #ccc solid;
		font-size: 20px;
		padding: 5px 5px 5px 20px;
	}
	section#sr-locator .sr-select-menu .sr-select-label{
		display: block;
		font-style: normal;
		padding: 10px 0;
		text-align: center;
	}
	section#sr-locator .sr-select-menu .sr-select-country{
		display: inline-block;
		margin: 0 1%;
		width: 48%;
	}
	section#sr-locator .sr-select-menu .sr-select-location{
		display: inline-block;
		margin: 0 1%;
		width: 48%;
	}

	/*** Rep Info ***/
	section#sr-reps-info{
		max-height: none;
		overflow: visible;
	}
	section#sr-reps-info .sr-rep{
		width: 48%;
	}
}

@media screen and (max-width: 480px) {

	/*** Map ***/
	#sr-map{
		height: 400px;
	}

	/*** Locator ***/
	section#sr-locator h1{
		font-size: 22px;
		text-align: center;
	}
	section#sr-locator .sr-select-menu .sr-select-label{
		font-size: 16px;
	}
	section#sr-locator .sr-select-menu .sr-select-country{
		display: block;
		margin: 5px auto;
		width: auto;
	}
	section#sr-locator .sr-select-menu .sr-select-location{
		display: block;
		margin: 5px auto;
		width: auto;
	}

	/*** Rep Info ***/
	section#sr-reps-info{
		padding: 10px;
	}
	section#sr-reps-info h2{
		font-size: 16px;
		font-style: normal;
		font-weight: bold;
		padding: 0 0 10px 0;
		position: relative;
		top: auto;
		left: auto;
		text-align: center;
	}
	section#sr-reps-info .sr-rep{
		font-size: 14px;
		line-height: 22px;
		padding: 30px 20px;
		width: 98%;
	}
}